body {
    padding: 0;
    margin: 0;
}

.product-listing {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
}

.product-listing .product-listing-item {
    border-radius: 4px;
    border: 1px solid #010101;
    padding: 8px;
    display: flex;
    margin-bottom: 16px;
    background-color: #FFF3;
}

.product-listing .product-listing-item .product-listing-item__image {
    min-width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-right: 16px;
}

.product-listing .product-listing-item .product-listing-item__product-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product-listing .product-listing-item .product-listing-item__more-details {
    margin-top: auto;
    margin-left: auto;
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    background-color: #ff5d1e;
    color: #FFF;
    border: 2px dashed black;
    text-transform: uppercase;
}
.product-listing .product-listing-item .product-listing-item__more-details:hover {
    background-color: #c64816;
}
.product-listing .product-listing-item .product-listing-item__details {
    display: flex;
    flex-direction: column;
}

.navbar{
    background-color: #3435A4;
    padding: 8px 32px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.navbar .navbar__app-name {
    margin-right: auto;
    color: #6B6BC2;
}
.navbar .navbar__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
}
.listening-indicator{
    width: 24px;
    height: 24px;
    border-radius:100%;
    background-color: red;
    margin-left: 16px;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
.transcript{
    position: fixed;
    bottom: 0;
    background-color: #FFFA;
    width: 100%;
    padding: 8px;
    text-align: center;
}

.product-detail-page{
    width: 80vh;
    margin: 0 auto;
    text-align: center;
}
.product-detail-page img{
    max-width: 100%;
    object-fit: contain;
}
.app-container{
    background-color: #737373;
}

.app-container.-high {
    background-color: #EEE;
}

.contrast-btn{
    border: 1px solid red;
    background-color: orange;
    color: red;
    font-size:16px;
    margin-left: 8px;
    border-radius: 4px;
}

.-high .navbar .navbar__app-name {
    color: #FFF;
}
.-high .contrast-btn{
    border: none;
    background-color: #FFF;
    color: #000;
}
.-high .product-listing .product-listing-item .product-listing-item__more-details {
    background-color: #000;
}
